/* demo.css */

body {
    background-color: lightblue;
    font-family: Programma, monospace;
}

h1 {
    text-align: center;
}

#reset {
    background-color: aliceblue;
    border: 2pt solid navy;
    border-radius: 0.5em;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

#reset:hover {
    background-color: beige;
}

#reset:active {
    background-color: mistyrose;
}

fieldset {
    background-color: aliceblue;
    border: 2px solid navy;
    border-radius: 0.5em;
    float: left;
    fo